################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVCCoreProject/.vs/MVCCoreProject
/MVCCoreProject/MVCCoreProject/bin/Debug/netcoreapp3.1
/MVCCoreProject/MVCCoreProject/obj
