
@{
    ViewData["Title"] = "AboutUS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bookdata = ViewData["Bookdata"] as BookModel;
}

<h1>AboutUS</h1>
<h1>@ViewData["ViewDtaAttributeProperty"]</h1>
<h1>@bookdata.AuthorName</h1>

