@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to index page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table class="table table-bordered table-hover table-hover table-dark">
        <tr>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
        </tr>
        <tr>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
        </tr>
        <tr>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
        </tr>
        <tr>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
        </tr>
        <tr>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
            <td>Column1</td>
        </tr>
    </table>

    <button class="btn-primary">Click me</button>
</body>
</html>
