@{
    Layout = "_Layout";
    dynamic data = ViewBag.Data;
}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Book Store @ViewBag.Title</h1>
        <h1>@data.Id @data.Name</h1>
        <h1>Language=@ViewBag.Book.Language</h1>
        <p class="lead text-muted">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. A repellat veniam
            adipisci consequatur ipsum fugiat ratione! Veritatis suscipit ipsum iure id?
            Nulla quos adipisci minus!
        </p>
        <a href="#" class="btn btn-primary"> Search books</a>
    </div>
</div>
<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <svg class="bd-placeholder-img card-img-top"
                             width="100%"
                             height="225"
                             xmlns="http://www.w3.org/2000/svg"
                             role="img"
                             aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice"
                             focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <p class="card-text">
                            This section ill be used to display the short description of book
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>

                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <svg class="bd-placeholder-img card-img-top"
                             width="100%"
                             height="225"
                             xmlns="http://www.w3.org/2000/svg"
                             role="img"
                             aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice"
                             focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <p class="card-text">
                            This section ill be used to display the short description of book
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>

                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <svg class="bd-placeholder-img card-img-top"
                             width="100%"
                             height="225"
                             xmlns="http://www.w3.org/2000/svg"
                             role="img"
                             aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice"
                             focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <p class="card-text">
                            This section ill be used to display the short description of book
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>

                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
